body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: red;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: red;
}
